{{- if .Values.metrics.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "cnpg-storage-manager.fullname" . }}-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cnpg-storage-manager.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "cnpg-storage-manager.selectorLabels" . | nindent 4 }}
{{- end }}
